{% load static%}
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Our App</h3>
                    <p>Download App for Android and ios mobile phone.</p>
                    <div class="app-logo">
                        <img src="{% static 'images/play-store.png' %}">
                        <img src="{% static 'images/app-store.png' %}">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="{% static 'images/logo.png' %}">
                    <p>The Way Of Creating Your Own Happiness.
                    </p>
                </div>
               
            </div>
            <hr>
            <p class="copyright">Copyright 2025 - The Hapiness Store</p>
        </div>
    </div>