{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RedStore | Login</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="account-page">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <img src="{% static 'images/image1.png' %}" width="100%">
                </div>
                <div class="col-2">
                    <div class="form-container">
                        <div class="form-btn">
                            <span>Register</span>
                            {% if form.errors %}
                            <ul>
                                {% for field in form %}
                                {% for error in field.errors %}
                                    <li> {{ error }}</li>
                                {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            <hr id="Indicator" style="width: 100px;">
                        </div>
                        <form id="RegisterForm"  method="POST">
                            {% csrf_token %}
                            <input type="text" name="username" placeholder="Username" required>
                            <input type="email" name="email" placeholder="Email">
                            <input type="password" name="password1" placeholder="Enter Password">
                            <input type="password" name="password2" placeholder="Re-Enter Password">
                            <button type="submit" class="btn">Register</button>
                            <a href="{% url 'login' %}">Existing User ? Login</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
